DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=muatmd_hrm
POSTGRES_USER=hrm_app
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
LANGUAGE_CODE=ar
TIME_ZONE=Asia/Riyadh
POSTGRES_RUNTIME_USER=hrm_runtime
POSTGRES_RUNTIME_PASSWORD=change-me
